<!--
File name: footer.ejs
Author: Lucas Berte Schoenardie
Web site name: Lucas' Portfolio
File description: Shared footer for every view in the website.
-->

  <!-- Start of page footer -->
  <footer class="navbar navbar-fixed-bottom" style="background-color:#414d60">
      <p style="color:white; text-align:center; margin-top:15px" >
        &copy; 2016 | Lesson 6
      </p>
  </footer>

  <!-- End of page footer -->

<script src="http://code.jquery.com/jquery-3.1.1.min.js"  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="/javascripts/jquery.validate.min.js"></script>
<script src="/javascripts/scripts.js"></script>

</body>
<!-- End of page body -->
</html>
